
body{
    background-color: antiquewhite;

}

.container{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    max-width: 1200px;
    height: 50%;
}

.container1{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    max-width: 1200px;
    height: 50%;
    margin-top: 100px;
    
}


.circulo{
    border: 1px solid black;
    width: 200px;
    border-radius: 50%;
}

.section{
    display: grid;
    width: 900px;
    max-width: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "0 1 2"
    "3 4 5"
    "6 7 8";
}  



.h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.caja{
    width: 397px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
}

.caja0{
    
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    grid: 0;
}

.caja1{
    
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    grid: 1;

}

.caja2{
    
    border-bottom: 5px solid black;
    grid: 2;

}

.caja3{
    
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    grid: 3;

}

.caja4{
    
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    grid: 4;

}

.caja5{
    
    border-bottom: 5px solid black;
    grid: 5;

}

.caja6{
    
    border-right: 5px solid black;
    grid: 6;

}

.caja7{
    
    border-right: 5px solid black;
    grid: 7;

}

.caja8{
    
    grid: 8;

}

.div_volver{
    display: flex;
    margin-top: 100px;
    padding: 0;
}
.volver{
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border: 1px solid red;
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: 25px;
}

.volver:hover{
    border: 1px solid rgb(117, 8, 8);
    background-color: rgb(117, 8, 8);

}

.botonera{
    display: flex;
    justify-content: space-around;
    margin: 200px;
}

.botonera__a{
    background-color: #3498db; 
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold; 
    text-decoration: none;
}

.botonera__a:hover {
    background-color: rgb(219, 81, 81); 
}
